<!DOCTYPE html>
<html>
<head>
  <title>HeuroTools</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>

<%- if notice %>
  <p class="notice alert alert-success"><%= notice %></p>
<%- elsif alert %>
  <p class="alert alert-warning"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
