<!DOCTYPE html>
<html>
<head>
  <title>HeuroTools</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>

<%- if flash[:success] %>
  <p class="notice alert alert-success"><%= flash[:success] %></p>
<%- elsif flash[:info] %>
  <p class="alert alert-info"><%= flash[:info] %></p>
<%- elsif flash[:alert] %>
  <p class="alert alert-warning"><%= flash[:alert] %></p>
<%- elsif flash[:error] %>
  <p class="alert alert-danger"><%= flash[:error] %></p>
<% end %>

<%= yield %>

</body>
</html>